.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__container {
    width: clamp(380px, 65vh, 1170px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__collect {

}

.hero__currency {

}

.hero__curItem {

}

.hero__curImg {

}

.hero__curImg img {

}

.hero__curTitle {

}

.hero__collect {

}

.hero__collect {

}

.hero__collect {

}

@supports (selector(&)) {
    .hero {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        & .hero__container {
            width: clamp(380px, 65vh, 1170px);
            display: flex;
            align-items: center;
            justify-content: center;

            & .hero__collect {
                
            }

            & .hero__currency {
                & .hero__curItem {
                    & .hero__curImg {
                        & img {

                        }
                    }  

                    & .hero__curTitle{
                
                    }  


                }                
            }
        }
    }
}