.block {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #556;
}

.block__container {
    width: clamp(380px, 65vh, 1260px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.block__title {
    width: 250px;
    height: 250px;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ec1b1b;
}